{% extends "OCReservationBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}


{% block ocreservation_body %}

	<div class="titre-reservation">
        <h1>Billets</h1>
    </div>

	<div>
		{{ include("OCReservationBundle:Commande:form.html.twig") }}
	</div>

	<div id="alert-carte" class="alert alert-danger col-xs-offset-1 col-xs-10">
		<p>Il est nécessaire pour les personnes bénéficiant du "Tarif Réduit" de présenter leur carte d’étudiant, militaire ou équivalent lors de l’entrée au musée du Louvre.</p>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<script type="text/javascript">
	$(document).ready(function() 
	{
		// On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
		var $container = $('div#commande_billet_billets');

		// On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
		var index = $container.find(':input').length;

		var number = 0;

		if(index == 0)
		{
			//On appelle commande.nbBillets fois lea fonction addBillet
			while (number < {{ commande.nbBillets }}) 
			{
				addBillet($container);
				number++;
			}
		}
		

		// La fonction qui ajoute un formulaire BilletType
		function addBillet($container) 
		{
			// Dans le contenu de l'attribut « data-prototype », on remplace :
			// - le texte "__name__label__" qu'il contient par le label du champ
			// - le texte "__name__" qu'il contient par le numéro du champ
			var template = $container.attr('data-prototype')
			.replace(/__name__label__/g, 'Billet label')
			.replace(/__name__/g,        index)
			;

			// On crée un objet jquery qui contient ce template
			var $prototype = $(template);

			// On ajoute le prototype modifié à la fin de la balise <div>
			$container.append($prototype);



			// Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
			index++;
		}

		$('label:contains("Date naissance")').remove();
		$('label:contains("Billets")').remove();
		$('label:contains("Billet label")').remove();

		var i = 0;

		while(i < 10)
		{
			var numBillet = i + 1;

			$('label:contains("'+i+'")').remove();

			$('<h1 class="col-xs-offset-1 col-xs-10 billet-numero">Billet n°'+numBillet+'</h1>' ).insertBefore( 'div#commande_billet_billets_'+i );
			$('h1:contains("Billet n°1")').removeClass('billet-numero');

			$("label[for=commande_billet_billets_"+i+"_nom]").addClass( "col-xs-offset-1 col-xs-2 control-label nom"+i );
			$('input#commande_billet_billets_'+i+'_nom').addClass( "form-control" ).wrap('<div class="col-xs-8 nom'+i+'"></div>');
			$( ".nom"+i ).wrapAll( "<div class='form-group' />");

			$("label[for=commande_billet_billets_"+i+"_prenom]").addClass( "col-xs-offset-1 col-xs-2 control-label prenom"+i );
			$('input#commande_billet_billets_'+i+'_prenom').addClass( "form-control" ).wrap('<div class="col-xs-8 prenom'+i+'"></div>');
			$( ".prenom"+i ).wrapAll( "<div class='form-group' />");

			$( '<label class="required col-xs-offset-1 col-xs-2 control-label dateNaissance'+i+'">Date de naissance</label>' ).insertBefore( 'div#commande_billet_billets_'+i+'_dateNaissance' );
			$('div#commande_billet_billets_'+i+'_dateNaissance').addClass( "col-xs-8 form-inline dateNaissance"+i );
			$('select#commande_billet_billets_'+i+'_dateNaissance_day').addClass( "form-control" );
			$('select#commande_billet_billets_'+i+'_dateNaissance_month').addClass( "form-control" );
			$('select#commande_billet_billets_'+i+'_dateNaissance_year').addClass( "form-control" );
			$( ".dateNaissance"+i ).wrapAll( "<div class='form-group' />");

			$("label[for=commande_billet_billets_"+i+"_pays]").addClass( "col-xs-offset-1 col-xs-2 control-label pays"+i );
			$('select#commande_billet_billets_'+i+'_pays').addClass( "form-control" ).wrap('<div class="col-xs-8 pays'+i+'"></div>');
			$( ".pays"+i ).wrapAll( "<div class='form-group' />");

			$("label[for=commande_billet_billets_"+i+"_reduction]").addClass( "col-xs-offset-1 col-xs-2 control-label reduction"+i );
			$('input#commande_billet_billets_'+i+'_reduction').addClass( "form-control-static" ).wrap('<div class="col-xs-8 reduction'+i+'"></div>');
			$( ".reduction"+i ).wrapAll( "<div class='form-group' />");
			$('label:contains("Reduction")').text('Tarif réduit');

			i++;
		}

	});
	</script>
	
{% endblock %}
