{% extends "OCReservationBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block ocreservation_body %}

	<div>
		{{ form(form) }}
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.fr.min.js"></script>

	<script>
        $(document).ready(function () {

        	var date = new Date();

			var year = date.getFullYear();
			var nextYear = year + 1;

			var dec = year+'/12/25';
			var nov = year+'/11/01';
			var mai = year+'/05/01';
			var decNext = nextYear+'/12/25';
			var novNext = nextYear+'/11/01';
			var maiNext = nextYear+'/05/01';

            $('.datepicker').datepicker({
                format: "yyyy-mm-dd",
                language: "fr",
                autoclose: true,
                daysOfWeekDisabled: '0, 2',
                datesDisabled: [dec, nov, mai, decNext, novNext, maiNext],
                startDate: date,
                endDate: '+1y',
                maxViewMode: 1,                    
            }).keydown(false);
        });

    </script>

{% endblock %}
