{% extends "::layout.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}


	<div id="bandeaureservation" class="col-xs-12">
		<img id="imgbandeaureservation" src="{{ asset('bundles/ocreservation/img/bandeaureservation.jpg') }}" class="img-responsive">
	</div>


	<div class="container">
		{% block ocreservation_body %}
		{% endblock %}
	</div>

	

{% endblock %}